{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react",
    "es2017"
  ],
  "plugins": ["syntax-decorators", "transform-object-rest-spread"]
}
