#schedule {
    max-width: 960px;
    margin: 0px;
    width: 100%
}

#schedule-screen {
    background-color: #f5f5f5;
    margin-bottom: 0px;
    overflow: scroll;
}

#schedule-container {
    max-width: 960px;
    height: 85vh;
    background-color: white;
    border: 1px solid #f1f3f4;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

#schedule-time {
  width: 60px;
  height: 65vh;
  top: 95px;
  position: relative;
  max-width: 100px;
}

.schedule-time {
    position: absolute;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
}

#schedule-lines > schedule-time {
    display: none;
}


@media only screen and (min-width: 768px) {
    #schedule-container {
      margin: 20px;
      margin-left: 10px;
      float: right;
      min-width: 1000px;
    }

    #schedule-lines {
      position: absolute;
      width: 97%;
      right: 10px;
      height: 65vh;
      top: 105px;
    }

    #schedule-lines > .schedule-time {
      color: white !important;
      border-top: 1px solid #efefef;
      font-size: 0px;
      height: 14px;
      width: calc(100% - 10px);
    }
}
