#schedule {
    width: 100%;
    max-width: 960px;
    margin: 0px;
}

#schedule-container {
    max-width: 960px;
    height: 85vh;
    background-color: white;
    border: 1px solid #f1f3f4;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

#schedule-time {
    max-width: 100px;
    height: 65vh;
    top: 90px;
    position: relative;
}

.schedule-time {
    position: absolute;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    #schedule-container {
      margin: 20px;
    }
}
